@model dynamic

<style>
    .myBtns {
        background-color: #58585824 !important;
        margin: 10px 0 30px 0;
        padding: 5px;
        display: flex;
        justify-content: space-evenly;
    }
</style>

<div class="myBtns">
    <a class="btn btn-dark" href="#">User Roles</a>
    <a class="btn btn-dark" href="/Dashboard/ArticlesLikes">Articles Likes</a>
    <a class="btn btn-dark" href="/Dashboard/PostLikes">Posts Likes</a>
    <a class="btn btn-dark" href="#">Allo</a>
    <a class="btn btn-dark" href="#">Allo</a>
    <a class="btn btn-dark" href="#">Allo</a>
    <a class="btn btn-dark" href="#">Allo</a>
</div>
<div class="chart-container" style="position: absolute; left:30%; height:40vh; width:39vw">
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    const data = {
        labels: [
            'Admin',
            'Author',
            'Subscriber',
            'User'
        ],
        datasets: [{
            label: 'My First Dataset',
            data: [@Model.Admins, @Model.Authors, @Model.Subscribers, @Model.Users],
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)',
                'rgb(155, 200, 200)',
            ],
            hoverOffset: 4
        }]
    };

    const config = {
        type: 'pie',
        data: data,
    };

</script>
<script>
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>
