<style>
    #author-div {
        background: linear-gradient(to top,#233ac5,black) !important;
    }

    #sub-div {
        background: linear-gradient(to top,#233ac5,black) !important;
    }
</style>



<button class="getSubBtn btn-info-gradient">Get Sub Of The Month</button>
<button class="getAuthorBtn btn-danger-gradient">Get Author Of The Month</button>

<div id="author-div" class="card border p-0">
    <div class="card-header">
        <h3 class="card-title">Contact card</h3>
        <div class="card-options">
            <a href="#" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
            <a href="#" class="card-options-remove" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a>
        </div>
    </div>
    <div id="author" class="card-body text-center">
    </div>
</div>
<div id="sub-div" class="card border p-0">
    <div class="card-header">
        <h3 class="card-title">Contact card</h3>
        <div class="card-options">
            <a href="#" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
            <a href="#" class="card-options-remove" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a>
        </div>
    </div>
    <div id="sub" class="card-body text-center">
    </div>
</div>
@section calendar{
    <script type="text/javascript">
        $("#sub-div").hide();
        $("#author-div").hide();

        $(".getSubBtn").click(function () {
            if ($("#sub").children().length == 0) {
                GetSubOfTheMonth();
            }
            $("#sub-div").show();
        })
        $(".getAuthorBtn").click(function () {
            if ($("#author").children().length == 0) {
                GetAuthorOfTheMonth();
            }
            $("#author-div").show();
        })



        function GetAuthorOfTheMonth() {
            let settings = {
                "url": "/Calendar/GetAuthorOfTheMonth",
                "method": "GET",
                "timeout": 0,
                "dataType": "json"
            };

            $.ajax(settings).done(function (response) {
                let template = `
                                      <img class=" rounded w-10 h-10" src="${response.data.Photo}"/>
                                     <h4 class="h4 mb-0 mt-3"><a href="/AppUser/AnyUserProfile/${response.data.Id}">${response.data.Name}</a></h4>
                                     <p class="card-text">Author Of The Month</p>
                                    `;
                response == "No Authors Found" ? $("#author").append(response) : $("#author").append(template);
            });
        }

        function GetSubOfTheMonth() {
            let settings = {
                "url": "/Calendar/GetSubOfTheMonth",
                "method": "GET",
                "timeout": 0,
                "dataType": "json"
            };

            $.ajax(settings).done(function (response) {
                let template = `
                                       <img class=" rounded w-10 h-10" src="${response.data.Photo}"/>
                                    <h4 class="h4 mb-0 mt-3"><a href="/AppUser/AnyUserProfile/${response.data.Id}">${response.data.Name}</a></h4>
                                     <p class="card-text">Subscriber Of The Month</p>
                                    `;
                response == "No Subscribers Found" ? $("#sub").append(response) : $("#sub").append(template);
            });
        }
    </script>
} 