<style>
    #author-div {
        background: #013A63 !important;
        color: #A9D6E5;
        border: 1px solid #A9D6E5 !important;
    }

    #sub-div {
        background: #013A63 !important;
        border: 1px solid #A9D6E5 !important;
        color: #A9D6E5;
    }
    .getAuthorBtn {
        width: 250px;
        height: 100px;
        background-color: #012A4A;
        color: #A9D6E5;
        font-weight: bold;
        font-size: 1rem;
        border: 1px solid #A9D6E5;
    }
        .getAuthorBtn:hover,
        .getAuthorBtn:active {
            background: #A9D6E5;
            color:black;
        }
    .getSubBtn {
        width: 250px;
        height: 100px;
        margin-right: 10px;
        background-color: #012A4A;
        color: #A9D6E5;
        font-weight: bold;
        font-size:1rem;
        border: 1px solid #A9D6E5;
    }
        .getSubBtn:hover,
        .getSubBtn:active {
            background: #A9D6E5;
            color: black;
        }
    .btn-container{
        display:flex;
        align-items:center;
        padding:10px;
        align-content:space-between;
        width:inherit;
        justify-content:center;
        margin:10px;
    }
</style>



<div class="btn-container"> 
    <button class="getSubBtn btn" >Get Sub Of The Month</button>
    <button class="getAuthorBtn btn" >Get Author Of The Month</button>
</div>

<div id="author-div" class="card border p-0">
    <div class="card-header">
        <h3 class="card-title">Contact card</h3>
        <div class="card-options">
            <a href="#" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
            <a href="#" class="card-options-remove" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a>
        </div>
    </div>
    <div id="author" class="card-body text-center">
    </div>
</div>
<div id="sub-div" class="card border p-0">
    <div class="card-header">
        <h3 class="card-title">Contact card</h3>
        <div class="card-options">
            <a href="#" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
            <a href="#" class="card-options-remove" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a>
        </div>
    </div>
    <div id="sub" class="card-body text-center">
    </div>
</div>
@section calendar{
    <script type="text/javascript">

        $("#sub-div").hide();
        $("#author-div").hide();

        $(".getSubBtn").click(function () {
            if ($("#sub").children().length == 0) {
                GetSubOfTheMonth();
            }
            $("#sub-div").show();
        })
        $(".getAuthorBtn").click(function () {
            if ($("#author").children().length == 0) {
                GetAuthorOfTheMonth();
            }
            $("#author-div").show();
        })


        function GetAuthorOfTheMonth() {
            let settings = {
                "url": "/Calendar/GetAuthorOfTheMonth",
                "method": "GET",
                "timeout": 0,
                "dataType": "json"
            };

            $.ajax(settings).done(function (response) {
                let template = `
                                          <img class=" rounded w-10 h-10" src="${response.data.Photo}"/>
                                         <h4 class="h4 mb-0 mt-3"><a href="/AppUser/AnyUserProfile/${response.data.Id}">${response.data.Name}</a></h4>
                                         <p class="card-text">Author Of The Month</p>
                                        `;

                response == "No Authors Found" ? $("#author").append(`<h4>${response}</h4>`) : $("#author").append(template);
                if (response !== "No Authors Found") {
                    SendWinnerMessage(response, "Author")
                }
            })
        }

        function GetSubOfTheMonth() {
            let settings = {
                "url": "/Calendar/GetSubOfTheMonth",
                "method": "GET",
                "timeout": 0,
                "dataType": "json"
            };

            $.ajax(settings).done(function (response) {
                let template = `
                                           <img class=" rounded w-10 h-10" src="${response.data.Photo}"/>
                                        <h4 class="h4 mb-0 mt-3"><a href="/AppUser/AnyUserProfile/${response.data.Id}">${response.data.Name}</a></h4>
                                         <p class="card-text">Subscriber Of The Month</p>
                                        `;

                response == "No Subscribers Found" ? $("#sub").append(`<h4>${response}</h4>`) : $("#sub").append(template);
                if (response !== "No Subscribers Found") {
                    SendWinnerMessage(response, "Subscriber");
                }
            });
        }
        function SendWinnerMessage(response, base) {
            let settings = {
                "url": "/ChatMessage/CreateChatMessage",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": JSON.stringify({
                    "newMessage": `<h4 style="color:red">New Winner Announcement: <small style="color:white">The ${base} that wins this month is ${response.data.Name}<span class="bullet">&#8226;</span>${new Date().toUTCString().replace("GMT", "")}<small></h4><hr/>`
                }),
            };

            $.ajax(settings).done(function (response) {
                console.log(response);
            });
        }
    </script>
} 