@model dynamic

<style>
   
    .chat-header {
        font-size: 20px;
        background-color: transparent;
    }

        .chat-header h2 {
            padding-top: 0.6rem;
            padding-bottom: 0.2rem;
            color: #A9D6E5;
        }

    textarea {
        background-color: lightslategray;
        border-radius: 5px;
        height: 70px;
        resize: none;
        border: none;
        outline: none;
        font-size: 18px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        cursor: pointer;
        color: #A9D6E5;
        padding: 0.5rem;
    }
        textarea::placeholder {
            color: dimgray;
        }
    .chat-box {
        background-color: lightgrey;
        border-radius: 5px;
        -webkit-box-shadow: 1px 1px 1px 1px rgba(143,143,143,0.62);
        box-shadow: 1px 1px 1px 1px rgba(143,143,143,0.62);
        color: black;
        font-weight: bold;
    }

    img {
        width: 40px;
        height: 40px;
        margin: 10px 10px 10px 0px;
    }

    .bullet {
        margin: 0px 3px;
        color: #808080;
    }
    #sendmessage {
        background-color: transparent;
        color: #89C2D9;
        border: 1px solid #89C2D9;
        padding: 0.5rem;
        border-radius: 4px;
        font-size: 1rem;
        font-weight: bold;
    }
        #sendmessage:hover,
        #sendmessage:active {
            background-color: royalblue ;
            color: #012A4A;
        }
</style>

<div style="margin:50px auto; width:50%">
    <div class="message-div">
        <div class="row chat-header" style="text-align:center">
            <h2 class="fa fa-comment">&ensp; Discourse</h2>
        </div>
        <div class="row chat-input">
            <textarea id="message" placeholder="Write your message here..."></textarea>
            <input type="button" id="sendmessage" value="Send" class="btn btn-github" style="border-radius:5px" />
            <input type="hidden" id="displayname" />
        </div>
        <div class="row chat-box">
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        $(document).ready(function () {
            var settings = {
                "url": "/ChatMessage/GetAllChatMessages",
                "method": "GET",
                "timeout": 0,
            };

            $.ajax(settings).done(function (response) {
                for (let i = 0; i < response.length; i++) {
                    $(".chat-box").prepend(response[i].MessageBox);
                }
            });
        })
    </script>

    <script>
        $(function () {
            let chat = $.connection.chatHub;

            let template = `
                                <div class="chat-div">
                                    <img class="rounded-circle" src="" alt="No Image" />
                                    <span class="name"></span>
                                    <span class="bullet">&#8226;</span>
                                    <span class="time"></span><br />
                                    <div class="discussion" style="margin-left:55px; padding-right:50px; display:inline-block" class="col">
                                    </div>
                                    <hr/>
                                </div>
                            `;

            chat.client.addNewMessageToPage = function (id, name, message, userImage) {
                if (message) {

                    let ele = $(template);

                    ele.find('.time').html(new Date().toUTCString().replace("GMT", ""));
                    ele.find('.name').html(htmlEncode(name));
                    ele.find('.discussion').html(htmlEncode(message));
                    ele.find('img').attr("src", userImage);
                    $(".chat-box").prepend(ele);

                    if (id == '@Model.Id') {
                        let newMessage = $(".chat-box").find('.chat-div').html();
                        let temp = `<div class="chat-div">${newMessage}</div>`;

                        var settings = {
                            "url": "/ChatMessage/CreateChatMessage",
                            "method": "POST",
                            "timeout": 0,
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "data": JSON.stringify({
                                "newMessage": temp
                            }),
                        };
                        $.ajax(settings).done(function (response) {
                            console.log(response);
                        });
                    }
                }
            };
            $('#displayname').val("@User.Identity.Name");
            $('#message').focus();
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {

                    chat.server.send('@Model.Id', $('#displayname').val(), $('#message').val(), '@Model.ImageUrl');
                    $('#message').val('').focus();

                });
            });
        });
        function htmlEncode(value) {
            let encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}
