@model IEnumerable<Entities.Bodies.BodyImage>
 <!-- PAGE-HEADER -->
<style>
    .row{
      display:flex;
      flex-wrap:wrap;
     padding: 0 4px;
    }
    .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }
    div.polaroid {
        margin-top: 8px;
        width: 100%;
        background-color: #89C2D9;
        border-radius: 4px;
        vertical-align: middle;
        position: relative;
    }

    div.text-container {
        text-align: center;
        padding: 5px 10px;
        font-size: 1rem;
        font-weight: bold;
        color: black;
    }
    div.text-container p{
        margin-top:14px;
    }
    .polaroid img {
        display: block;
        filter: brightness(70%);
    }
        .polaroid img:hover {
            filter: brightness(100%);
        }
    .polaroid:hover .overlay {
        opacity: 1;
    }
    .overlay {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }
    @@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
</style>

<div class="page-header">
    <h1 class="page-title">Gallery</h1>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gallery</li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->
<!-- GALLERY DEMO OPEN -->
<div class="masonry row">
    @foreach (var bi in Model)
    {
    <div class="column">
        <div class="polaroid">
            <img src="@bi.Url" alt="@bi.AlternativeText" style="width:100%">
            <div class="overlay">
                <p>@bi.AlternativeText</p>
            </div>
        </div>
    </div>
    }
</div>
