@model IEnumerable<Entities.Bodies.BodyImage>
 <!-- PAGE-HEADER -->
<style>
    div.polaroid {
        width: 80%;
        background-color: #89C2D9;
        box-shadow: 0 4px 6px 0 #89C2D9, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
        border-radius: 4px;
    }

    div.text-container {
        text-align: center;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: bold;
        color: black;
    }
    div.text-container p{
        margin-top:14px;
    }
</style>

<div class="page-header">
    <h1 class="page-title">Gallery</h1>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gallery</li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->
<!-- GALLERY DEMO OPEN -->
<div class="masonry row">
    @foreach (var bi in Model)
    {
    <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="polaroid">
            <img src="@bi.Url" alt="@bi.AlternativeText" style="width:100%">
            <div class="text-container">
                <p>@bi.AlternativeText</p>
            </div>
        </div>
    </div>
    }
</div>
