
@{
    ViewBag.Title = "BlogPost";
    Layout = "~/Views/Shared/_LayoutSpace.cshtml";
}
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title"></h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Article/ShowArticles">Articles</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Create New Article</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            <div class="row">
                <div class="col-xl-8">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Create New Article</div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-4">
                                <label class="col-md-3 form-label">Article Title :</label>
                                <div class="">
                                    <input type="text" name="Title" class="form-control" placeholder="Enter Article Title (3-50 characters)" minlength="3" maxlength="50" required>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 form-label mb-4">Author Name :</label>
                                <div class="mb-4">
                                    <input class="content form-control" name="AuthorName" placeholder="Enter Article Title (3-50 characters)" required />
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 form-label mb-4">Short Description :</label>
                                <div class="mb-4">
                                    <textarea rows="5" class="content form-control" name="ShortDescription" placeholder="Enter Short Description (5-5000 characters)" minlength="5" maxlength="5000" required></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 form-label mb-4">Full Description :</label>
                                <div class="mb-4">
                                    <textarea rows="10" class="content form-control" name="FullDescription" placeholder="Enter Full Description (10-10000 characters)" minlength="10" maxlength="10000" required></textarea>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label class="col-md-3 form-label">Categories :</label>
                                <div class="">
                                    <select name="ArticleCategory" class="form-control form-select select2" data-bs-placeholder="Select Country" required>
                                        <option value="BigBang">BigBang</option>
                                        <option value="Planets">Planets</option>
                                        <option value="Stars">Stars</option>
                                        <option value="Moons">Moons</option>
                                        <option value="Comets">Comets</option>
                                        <option value="Theory">Theory</option>
                                        <option value="Other" selected>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <label class="col-md-3 form-label mb-4">File Upload :</label>
                                <input id="demo" type="file" class="form-control" name="ArticleImage" accept=".jpg, .png, image/jpeg, image/png">
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="/Article/ShowArticles" class="btn btn-primary">Create</a>
                            <a href="#" class="btn btn-default float-end">Discard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTAINER CLOSED -->
    </div>
</div>
<!--app-content closed-->


@section article{
    <script>

        $(document).ready(function () {
            $("#like-btn").click(function () {

                let requestCls = {

                }

                $.ajax({
                    url: `/Article/CreateNewArticle`,
                    dataType: 'json',
                    type: 'post',
                    success: function (articleLikes) {
                        $("#article-likes").html(articleLikes + " people like this article");
                    }
                });

            });
        });
    </script>
}