
@if (User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-xl-2">
            <div class="card">
                <div class="card-body">
                    <div>
                        <a style="padding: 8px" href="/Article/CreateArticles" class="btn btn-dark">Create New Article</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div style="height:50px"></div>
}

<div id="article-row" class="row">

</div>

@section article{
    <script src="~/Scripts/ArticleScripts/GetAllArticles.js"></script>
}
