<div class="row">
    <div class="col-xl-2">
        <div class="card">
            <div class="card-body">
                <div>
                    <a href="/Article/CreateArticles" class="btn btn-dark">Create New Article</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="article-row" class="row">
    @*<div class="col-sm-6 col-md-12 col-lg-6 col-xl-4">
        <div class="card">
            <a href="/Article/DetailsArticles"><img id="article-image" class="card-img-top" src="" alt=""></a>
            <div class="card-body d-flex flex-column">
                <h3><a id="article-title" href="/Article/DetailsArticles"></a></h3>
                <div id="article-description" class="text-muted"></div>
                <div class="d-flex align-items-center pt-5 mt-auto">
                    <div class="avatar brround avatar-md me-3 cover-image" data-bs-image-src="~/Template/sash/assets/images/users/18.jpg"></div>
                    <div>
                        <a href="profile.html" class="text-default">Megan Peters</a>
                        <small id="article-postdate" class="d-block text-muted"></small>
                    </div>
                    <div class="media-body" style="margin-left:35px">
                        <h6 id="article-likes" class="mb-0 mt-2 ms-2"></h6>
                    </div>
                    <div class="ms-auto">
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block text-muted"><i class="fe fe-heart me-1 border brround"></i></a>
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block text-muted"><i class="fa fa-thumbs-o-up border brround"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="mb-9">
            <ul class="pagination ">
                <li class="page-item page-prev disabled">
                    <a class="page-link" href="#" tabindex="-1">Prev</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item page-next">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </div>*@
</div>

@section article{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Article/GetAllArticles',
                dataType: 'json',
                type: 'get',
                success: function (article) {
                    console.log(article[0].AuthorName);
                    for (let i = 0; i < article.length; i++) {


                        let date = article[i].PostDate;
                        let postdate = moment.utc(date).format('DD-MM-YYYY');

                        let template = `
                                        <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4">
                                            <div class="card">
                                                <a style="border:solid 1px #0d1d40;" href="/Article/GetArticleDetails?id=${article[i].ArticleId}"><img id="article-image-${article[i].ArticleId}" class="card-img-top" src="${article[i].Url}" alt="${article[i].AlternativeText}"></a>
                                                <div style="border:solid 1px #0d1d40; background: linear-gradient(to top, #0d1d40, black)" class="card-body d-flex flex-column">
                                                    <h3><a id="article-title-${article[i].ArticleId}" href="/Article/GetArticleDetails?id=${article[i].ArticleId}">${article[i].Title}</a></h3>
                                                    <div id="article-description-${article[i].ArticleId}" class="text-muted">${article[i].ShortDescription}</div>
                                                    <div class="d-flex align-items-center pt-5 mt-auto">
                                                        <div class="avatar brround avatar-md me-3 cover-image" data-bs-image-src="~/Template/sash/assets/images/users/18.jpg"></div>
                                                        <div>
                                                            <a href="javascript:void(0)" class="text-default">By: ${article[i].AuthorName}</a>
                                                            <small id="article-postdate-${article[i].ArticleId}" class="d-block text-muted">${"Post Date: " + postdate}</small>
                                                        </div>
                                                        <div class="media-body" style="margin-left:170px; margin-bottom:11px">
                                                            <h6 id="article-likes-${article[i].ArticleId}" class="mb-0 mt-2 ms-2">${article[i].PostLikes + " likes"}</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    `;

                        let column = $(template);

                        $("#article-row").append(column);
                    }
                }
            })
        })
    </script>
}
