<style>
    .chat:hover {
        color: white !important;
    }
</style>
@if (Request.IsAuthenticated)
{

    if (User.IsInRole("Admin"))
    {
        <div class="d-flex order-lg-2 ms-auto header-right-icons">
            <!-- MESSAGE BOX -->
            <button class="navbar-toggler navresponsive-toggler d-md-none ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fe fe-more-vertical"></span>
            </button>
            <div class="navbar navbar-collapse responsive-navbar p-0">
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <div class="d-flex order-lg-2">
                        <div class="dropdown  d-flex message">
                            <a class="nav-link icon text-center" href="/Home/Chat">
                                <span class="chat" style="color: #d4d4d4 !important; margin-top:5px;">Chat</span>
                            </a>
                        </div>
                        <!--PROFILE-->
                        <div class="dropdown d-flex profile-1">
                            <a id="userImgImg" href="#" data-bs-toggle="dropdown" class="nav-link leading-none d-flex">

                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <div class="drop-heading">
                                    <div class="text-center">
                                        <h5 class="text-dark mb-0 fs-14 fw-semibold">@User.Identity.Name</h5>
                                    </div>
                                </div>
                                <div class="dropdown-divider m-0"></div>
                                <a class="dropdown-item" href="/AppUser/UserProfile">
                                    <i class="dropdown-icon fe fe-user"></i> Profile
                                </a>
                                <a class="dropdown-item" href="/Payment/ShowPaymentMethods">
                                    <i class="dropdown-icon payment payment-mastercard"></i> Subscribe
                                </a>
                                <a class="dropdown-item" href="/AppUser/EditProfile">
                                    <i class="dropdown-icon fe fe-settings"></i>Account Settings
                                </a>
                                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                                    <i class="dropdown-icon fe fe-alert-circle"></i> Sign out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="d-flex order-lg-2 ms-auto header-right-icons">
            <!-- MESSAGE BOX -->
            <button class="navbar-toggler navresponsive-toggler d-md-none ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fe fe-more-vertical"></span>
            </button>
            <div class="navbar navbar-collapse responsive-navbar p-0">
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <div class="d-flex order-lg-2">
                        <div class="dropdown  d-flex message">
                            <a class="nav-link icon text-center" href="/Home/Chat">
                                <span class="chat" style="color: #d4d4d4 !important; margin-bottom:20px;">Chat</span>
                            </a>
                        </div>
                        <!--PROFILE-->
                        <div class="dropdown d-flex profile-1">
                            <a style="margin-bottom: 20px; " id="userImgImg" href="#" data-bs-toggle="dropdown" class="nav-link leading-none d-flex">

                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <div class="drop-heading">
                                    <div class="text-center">
                                        <h5 class="text-dark mb-0 fs-14 fw-semibold">@User.Identity.Name</h5>
                                    </div>
                                </div>
                                <div class="dropdown-divider m-0"></div>
                                <a class="dropdown-item" href="/AppUser/UserProfile">
                                    <i class="dropdown-icon fe fe-user"></i> Profile
                                </a>
                                <a class="dropdown-item" href="/Payment/ShowPaymentMethods">
                                    <i class="dropdown-icon payment payment-mastercard"></i> Subscribe
                                </a>
                                <a class="dropdown-item" href="/AppUser/EditProfile">
                                    <i class="dropdown-icon fe fe-settings"></i>Account Settings
                                </a>
                                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                                    <i class="dropdown-icon fe fe-alert-circle"></i> Sign out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}