<style>
    .card {
        background-color: #6c6b6b24 !important;
        -webkit-box-shadow: 2px 1px 3px 1px rgba(143,143,143,0.62);
        box-shadow: 2px 1px 3px 1px rgba(143,143,143,0.62);
        width:50%;
        margin:100px auto;
    }
    .card h2 {
        text-align: center;
        color: #b7caff;
        padding-top: 1rem;
    }
    form .btn{
        float:right;
        margin-bottom:15px;
    }
    .card span {
        font-size: 17px;
        font-weight: bold;
        color: #b7caff;
    }

    input,textarea {
        background-color:#313131 !important;
    }
</style>


<div class="card">
    <h2>Create Newsletter</h2>
    <form action="/News/AddNewsletter" method="post">
        <div class="container">
            <span class="form-control-static">Title: </span>
            <input class="form-control" type="text" name="Title" /> <br />
            <span class="form-control-static">Details: </span>
            <textarea rows="10" class="form-control" type="text" name="Details"></textarea> <br />
            <input class="btn btn-success" type="submit" value="Send Email" />
        </div>
    </form>
</div>
